@import '../../global.scss';

.whatsapp {
    position: fixed;
    //background-color: blue;
    top: 83%;
    right: 0;
    
    img {
        height: 100px;
    }
    
}

@media screen and (max-width: 768px) {
    .whatsapp {
        position: fixed;
        //background-color: blue;
        top: 85%;
        right: 0;
        
        img {
            height: 80px;
        }
        
    }
}
