@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import "../../global.scss";

#CartSection {

    position: relative;

    .checkedWrapper {

        display: flex;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 999;

        .contentPopup {

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: $branco;
            margin-top: 10rem;
            width: 30vw;
            height: 50vh;
            position: fixed;
            z-index: 1000;

            .lottieContainer {

                // width: 300px;
                display: flex;

            }

        }


    }

}

.cartPage {

    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1D222C;

    h3 {

        margin: 2rem 0 3rem 0;
        color: $branco;
        text-align: center;

    }

    #SectionCartProducts {

        .showCartContainer {

            display: flex;
            flex-direction: column;

            .showProductCardCart {

                display: flex;
                flex-direction: row;
                width: 100%;
                height: 150px;
                background-color: #2B303A;
                margin-bottom: 2rem;
                border-radius: 7px;

                .adjustItens {
                    display: flex;
                    flex-direction: row;

                    .adjustItens2 {
                        display: flex;
                        flex-direction: row;
                        align-items: space-between;
                        justify-content: space-between;
                    }
                }

                .imageProductWrapperCart {

                    display: flex;
                    height: 100%;
                    width: 10%;
                    justify-content: center;
                    border-radius: 7px 0 0 7px;

                    img {

                        width: auto;
                        height: auto;
                        padding: .2rem;

                    }

                }

                .descriptionProductCart {

                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    width: 60%;
                    padding: 2rem;

                    h4, p, span {

                        margin: .2rem 0;

                    }

                    h4 {

                        color: $branco;

                    }

                    p, span {

                        color: #6b6e75;

                    }

                }

                .priceProductCard {

                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    padding: 2rem;
                    justify-content: center;

                    h4 ,h5 {

                        color: $branco;
                        margin: .6rem 0;

                    }

                }

                .trashCanWrapper {

                    display: flex;
                    width: 10%;
                    height:100%;
                    justify-content: center;
                    align-items: center;

                }

                img {

                    height: 40px;
                    cursor: pointer;

                }
            }
            
        }

        .cartProductsFinal {

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            button {

                display: flex;
                justify-content: center;
                align-items: center;
                outline: none;
                background-color: $vinho;
                border: none;
                text-decoration: none;
                font-size: 1rem;
                color: $branco;
                cursor: pointer;
                padding: 0.5rem;
                border-radius: 5px;
                font-weight: 700;
    
            }

            h3 {

                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                margin: 1rem ;

            }

        }
    }
    
    .finishOrder {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;

        .cepSearch {

            flex-direction: column;
            align-items: center;

            button {

                width: auto;

            }

        }

        .pickupSelect {

            margin-top: 2rem;

        }

        .transportInfos {

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100vw;
            margin: 2rem 0;

            h1 {

                color: $branco;
                margin-bottom: 1rem;

            }

            .optionsTransport {
    
                display: flex;
                width: 90%;
                height: 100px;
                margin: .3rem;
                padding: 1rem 0;
                align-items: center;

                background-color: $branco;
                
                border-radius: 15px;

                &:hover {

                    background-color: #eee;

                }

                .radioButton {

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 5%;

                    input {

                        width: auto;
                        margin: 0;

                    }
                    
                }

                .transportLogoWrapper {

                    display: flex;
                    width: 15%;
                    align-items: center;
                    justify-content: center;
    
                    img {
    
                        width: auto;
                        overflow: hidden;
                        padding: 1rem;
                        
                    }
                    
                }
    
            }

            .textTransportInfos {

                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 85%;
                height: 100%;

            }

        }

        label {

            color: $branco;
            font-size: 1.2rem;

        }

        select, input {

            width: 40vw;
            padding: 1rem;
            margin-bottom: 1rem;
            background-color: #2b303a;
            outline: none;
            border: none;
            color: $branco;

        }

        input::placeholder {

            color: $branco;
            opacity: .5;

        }

        button {

            display: flex;
            justify-content: center;
            align-items: center;
            outline: none;
            background-color: $vinho;
            border: none;
            text-decoration: none;
            font-size: 1rem;
            color: $branco;
            cursor: pointer;
            padding: 0.5rem 2rem;
            border-radius: 5px;
            font-weight: 700;
            margin-bottom: 1rem;

        }

        .paypalButtons {

            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

        }

    }
    
    .checkOut {
        
        display: flex;
        flex-direction: row;
        width: auto;
        align-items: baseline; 

        a, button {
            
            text-decoration: none;
            padding: 0 2rem;
            margin: 2rem 0;

        }

        a {

            color: $branco;
            
            &:hover {

                color: $vinhoPink;

            }

        }

        button {

            display:flex;
            cursor: pointer;
            color: $branco;
            padding: 1rem;
            margin: 0 0 2rem 0;
            background-color: transparent;
            text-decoration: none;
            border-radius: 50px;
            transition: .24s;
            border: 1px solid $vinhoPink;
            justify-content:center;
            font-weight: 500;
            font-size: 1rem;
            margin: 0 auto;
                
            &:hover,
            &:focus {

                box-shadow: inset 0 0 0 35px #2b303A;
                color: $vinhoPink;

            }
        }

    }
    
}

.paymentForm {

    main {

        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #1D222C;

        #purchaseDetails {

            align-items: center;
            display: flex;
            justify-content: center;
            flex-direction: column;

            h1 {

                margin-bottom: 2rem;
                font-size: 1.45rem;
                color: $branco;

            }

            .purchaseWrapper{

                display: flex;
                flex-direction: column;
                height: 70vh;
                width: 35vw;
                background-color: #e1e1e1;
                position: relative;

                h5 {

                    border-bottom: 1px solid rgb(194, 194, 194);

                }

                table {

                    width: 100%;
                    margin-top: .5rem;
                    text-align: center;

                    tr {


                    }

                }

                h3 {

                    position: absolute;
                    right: 3%;
                    bottom: 0;

                }

            }

        }
    }
}

@media screen and (max-width: 768px) {

    .cartPage {
        //width: 100vw;

        #SectionCartProducts {

            width: 90vw;

            .showCartContainer {
                width: 95vw;
                display: flex;
                justify-content: center;
                align-items: center;

                .showProductCardCart {

                    display: flex;
                    flex-direction: column;
                    height: 60vh;
                    align-items: space-around;
                    justify-content: center;

                    .imageProductWrapperCart {

                        display: flex;
                        height: 25%;
                        width: auto;
                        margin-top: 2rem;

                        img {

                            width: auto;
                            height: auto;
                            padding: 0;

                        }

                    }

                    .adjustItens {

                        flex-direction: column;
                        margin: 0;
                        padding: 0;

                        .descriptionProductCart {

                            width: 90vw;

                        }

                        .adjustItens2 {
                            display: flex;
                            flex-direction: column;
                            margin-bottom: 2rem;
                        }

                    }

                    .descriptionProductCart {

                        padding: 1rem;
                        align-items: center;
                        text-align: center;
                        
                        h4, p {
                            font-size: 1rem;
                        }

                        span {

                            margin-top: 1rem;

                        }

                    }

                    .priceProductCard {

                        display: flex;
                        width: 100%;
                        padding: 0;
                        align-items: center;
                        margin-bottom: 2rem;
                        
                        h5, h4 {
                            font-size: .9rem;
                        }
                    }

                    .trashCanWrapper {
                        width: 100%;
                        padding: 0;
                    }
                }
            }


        }

        .cartProductsFinal {
            display: flex;
            flex-direction: column;     
        }

        .finishOrder {

            select {

                width: 80vw;

            }

            h3 {

                margin: 1rem;

            }

            .paypalButtons {

                width: 80%;

            }

            input {

                width: 80vw;
                
            }

        }

        .checkOut {

            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;

            a {

                text-align: center;
                font-size: .8rem;

            }

            button {

                padding: 1rem 3rem;

            }

            // a, button {
                
            //     width: 40%;

            // }

        }
    }

}