@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import "../../global.scss";

.cartPage {

    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1D222C;

    h3 {

        margin: 2rem 0 3rem 0;
        color: $branco;
        text-align: center;

    }

    #SectionCartProducts {

        .showCartContainer {

            display: flex;
            flex-direction: column;

            .showProductCardCart {

                display: flex;
                flex-direction: row;
                width: 1200px;
                height: 150px;
                background-color: #2B303A;
                margin-bottom: 2rem;
                border-radius: 7px;

                .imageProductWrapperCart {

                    display: flex;
                    height: 100%;
                    width: 10%;
                    justify-content: center;
                    border-radius: 7px 0 0 7px;

                    img {

                        width: auto;
                        height: auto;
                        padding: .2rem;

                    }

                }

                .descriptionProductCart {

                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    width: 60%;
                    padding: 2rem;

                    h4, p, span {

                        margin: .2rem 0;

                    }

                    h4 {

                        color: $branco;

                    }

                    p, span {

                        color: #6b6e75;

                    }

                }

                .priceProductCard {

                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    width: 30%;
                    padding: 2rem;
                    justify-content: center;

                    h4 ,h5 {

                        color: $branco;
                        margin: .6rem 0;

                    }

                }

                .trashCanWrapper {

                    display: flex;
                    width: 10%;
                    height:100%;
                    justify-content: center;
                    align-items: center;

                }

                img {

                    height: 40px;
                    cursor: pointer;

                }
            }
            
        }

        .cartProductsFinal {

            display: flex;
            margin: 0 auto;
            position: relative;
            margin-bottom: 3rem;

            button {

                display: flex;
                background-color: transparent;
                outline: none;
                border: none;
                text-decoration: none;
                padding: 0 2rem;
                margin: 2rem 0;
                font-size: 1rem;
                color: $vinhoPink;
                cursor: pointer;

                &:hover {

                    color: $branco;

                }
    
            }

            h3 {

                position: absolute;
                right: 2rem;

            }

        }
    }
    
    .finishOrder {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;

        select, input {

            width: 40vw;
            padding: 1rem;
            margin-bottom: 1rem;
            background-color: #2b303a;
            outline: none;
            border: none;
            color: $branco;

        }

        input::placeholder {

            color: $branco;

        }

        .paypalButtons {

            display: flex;
            width: 100%;

        }

    }
    
    .checkOut {
        
        display: flex;
        flex-direction: row;
        width: auto;
        align-items: baseline; 

        a, button {
            
            text-decoration: none;
            padding: 0 2rem;
            margin: 2rem 0;

        }

        a {

            color: $branco;
            
            &:hover {

                color: $vinhoPink;

            }

        }

        button {

            display:flex;
            cursor: pointer;
            color: $branco;
            padding: 1rem;
            margin: 0 0 2rem 0;
            background-color: transparent;
            text-decoration: none;
            border-radius: 50px;
            transition: .24s;
            border: 1px solid $vinhoPink;
            justify-content:center;
            font-weight: 500;
            font-size: 1rem;
            margin: 0 auto;
                
            &:hover,
            &:focus {

                box-shadow: inset 0 0 0 35px #2b303A;
                color: $vinhoPink;

            }
        }

    }
    
}

.paymentForm {

    main {

        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #1D222C;

        #purchaseDetails {

            align-items: center;
            display: flex;
            justify-content: center;
            flex-direction: column;

            h1 {

                margin-bottom: 2rem;
                font-size: 1.45rem;
                color: $branco;

            }

            .purchaseWrapper{

                display: flex;
                flex-direction: column;
                height: 70vh;
                width: 35vw;
                background-color: #e1e1e1;
                position: relative;

                h5 {

                    border-bottom: 1px solid rgb(194, 194, 194);

                }

                table {

                    width: 100%;
                    margin-top: .5rem;
                    text-align: center;

                    tr {


                    }

                }

                h3 {

                    position: absolute;
                    right: 3%;
                    bottom: 0;

                }

            }

        }
    }
}
