@import '../../global.scss';

* {
    margin: 0;
    padding: 0;
}

.HomePage {

    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1D222C;
    
    #heroSection {
    
        display: flex;
        flex-direction: column;
        width: 100vw;
/*         height: 75vh; */
        margin-bottom: 20px;
        align-items: center;
    
        .optionsHero {
    
            display: flex;
            height: 8vh;
            width: 100vw;
            margin-top: 1rem;
            background-color: blue;
            align-items: center;
            justify-content: space-around;
            flex-direction: row;
    
            span {
                
                object-fit: contain;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                display: block;
                text-transform: uppercase;
                font-weight: 400;
                color: $branco;
    
            }
    
            span:hover {
    
                color: $vinhoPink;
    
            }
    
        }
    
        .heroWrapper {
            
            width: 90vw;
            margin-top: 1rem;
            border-radius: 8px;

            .sliderImg {

                display: flex;
                width: 90vw;

                img {

                    width: 100%;
                    overflow: hidden;

                }

            }

        
        }
    
    }

    #featuredProdutcsSection {

        display: flex;
        flex-direction: column;
        width: 95vw;
        height: 35vh;
        margin-bottom: 4rem;

        .featuredProductsText {

            display: flex;
            flex-direction: row;
            font-size: 1.1rem;
            color: $branco;
            margin-top: 1rem;

            .viewAll {

                display: flex;
                flex-direction: row;
                position: absolute;
                right: 20px;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                color: $branco;

                h4 {

                    margin-right: 5px;

                }
                
                img {

                    max-width: 30px;

                }

            }

        }

        .featuredProducts {

            display: flex;
            width: 100%;
            height: 50vh;
            justify-content: space-around;

            .featuredProductsCard {

                display: flex;
                width: 20%;
                height: 70%;
                background-color:#2B303A;
                flex-direction: row;
                align-items: center;
                text-align: center;
                margin: 0 auto;
                border-radius: 10px;
                position: relative;
                margin-top: 4rem;

                .imgFeaturedWrapper {

                    display: flex;
                    width: 30%;
                    height: 100%;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                    align-items: center;
                    justify-content: center;

                    img {
                        
                        max-width: 50px;

                    }

                    #imgVinho {

                        width: 30px;

                    }

                }

                .featuredTag {

                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 40%;
                    height: 25%;
                    background-color: $vinhoPink;
                    border-top-right-radius: 10px;
                    border-bottom-left-radius: 10px;

                    h6 {

                        color: $branco;
                        text-transform: uppercase;
                        font-size: .75rem;
                        margin-top: 0.4rem;

                    }

                }

                .featuredTextWrapper {
                    
                    h5 {

                        color: $branco;

                    }

                    span {

                        color: #666C75;
                        font-size: .9rem;
                        font-weight: 500;

                    }
                    
                }

            }

        }

    }

    #homeText {

        display: flex;
        width: 100vw;
        height: auto;
        background-color: #2B303A;
        padding: 5rem 2rem;
        align-items: center;
        margin-bottom: 3rem;

        .leftSideHomeText {

            display: flex;
            padding: 1rem 4rem 1rem 1rem;
            width: 40%;
            flex-direction: column;

            h1 {

                color: $offwhite;
                font-size: 2rem;

            }

            h1:nth-child(2) {

                color: $vinho;
                
            }

        }

        .rightSideHomeText {

            display: flex;
            width: 60%;
            flex-direction: column;

            p {

                color: $offwhite;
                padding: .7rem 0;


            }

        }   

    }

#optionSection {

    h4 {

        font-size: 1.1rem;
        color: $branco;
        margin-bottom: 1rem;

    }

    .optionsInfos {

        display: flex;
        width: 95vw;
        height: 270px;
        background-color: #2b2b2b;
        margin-bottom: 4rem;
        position: relative;
        border-radius: 5px;

        img {

            width: auto;
            height: auto;

        }

        .optionsSelection {

            display: flex;
            position: absolute;
            height: 100%;
            right:0;
            width: 52vw; //antes 52vw; //antes 100vw
            display: grid;
            grid-template-columns: 210px 210px 210px;
            padding-left: 3.5rem;
            align-items: center;
            justify-content: center;

            .cardsOptionsSelection {

                display: flex;
                height: 70px;
                width: 150px; //antes 150px;
                border-radius: 60px 0 60px 0;
                background-color:#333333;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;
                color: $branco;
                cursor: pointer;

                :hover {

                    color: $vinhoPink;

                }

            }

        }

    }

}

#infosSection {

    display: flex;
    width: 95vw;
    height: 60vh;
    margin-bottom: 2rem;

        .infosPromoWrapper {

            width: 50%;
            background-color: $vinhoPink;
            border-radius: 5px;
            -webkit-box-shadow: 5px 5px 12px -4px rgba(0,0,0,0.59); 
            box-shadow: 5px 5px 12px -4px rgba(0,0,0,0.59);
            margin-left: 1rem;
            display: flex;
            flex-direction: row;
            align-items: space-around;
            justify-content: center;
            padding: 2rem;
            
            .textVinho {
                width: 60%;

            }

            .imageVinho {
                img {
                    
                    width: 65px;
    
                }
            }

        }

        .infosHighlightWrapper {

            width: 50%;
            background-color: #1D222C;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: space-between;
            padding: 0 1rem;

            .infosCard {
                
                border-radius: 5px;
                margin: 0 1rem;
                background-color: #2B303A;
                color: $offwhite;
                padding: 3rem 2.5rem;
                -webkit-box-shadow: 5px 5px 12px -4px rgba(0,0,0,0.59); 
                box-shadow: 5px 5px 12px -4px rgba(0,0,0,0.59);

                h3 {
                    font-size: 2rem;
                }

                p {
                    margin-top: 2rem;
                    font-size: 1.3rem;
                }

                h2 {
                    margin-bottom: 1rem;
                }
                
            }
        }

    }
}

@media screen and (max-width: 768px) {
    
    .HomePage {
        width: 100vw;
        overflow-x: hidden;

        #heroSection {

            .heroWrapper {
                width: 85vw;
                img {
                    width: 100%;
                }
            }

            .optionsHero {
                flex-direction: column;
                height: 60vh;
    
                span {
                    margin: .3rem 0 .3rem 0;
                    font-size: .975rem;
                }
            }
        } 
    
        #featuredProdutcsSection {

            flex-direction: column;
            height: auto;
            width: 100vw;

            .featuredProductsText {

                flex-direction: column;
                text-align: center;
                margin: 0 auto;
                padding: 0;
                width: 85vw;

                .viewAll {

                    position: static;
                    flex-direction: row;
                    justify-content: start;
                    text-decoration: none;
                    color: $branco;
                    margin-top: 1rem;

                }

                h4 {

                    font-size: .9rem;
                    text-align: left;

                }

            }

            .featuredProducts {

                height: 100vh;
                justify-content: default;
                flex-direction: column;

                .featuredProductsCard {

                    width: 85%;
                    height: 15%;
                    margin-top: 0;

                    .imgFeaturedWrapper {

                        img {
                            
                            max-width: 40px;
    
                        }
    
                        #imgVinho {
    
                            width: 25px;
    
                        }
    
                    }
                    
                }
            }
            
        }

        #optionSection {

            h4 {
                padding: 0 1rem;
                margin-bottom: 2rem;
            }

            .optionsInfos {

                width: 100vw;
                height: 46vh;

                .optionsWrapper {

                    img {
                        width: 100vw;
                        height: auto;
                    }

                }

                .optionsSelection {
                    width: 100%;
                    grid-template-columns: 210px 210px;
                    align-items: center;
                    justify-content: center;

                    h3 {
                        font-size: 1rem;
                    }

                    .cardsOptionsSelection {
                        background-color: #424242;
                    }
        
                }
            }

        }

    }
    
}
