@import '../../global.scss';

* {
    margin: 0;
    padding: 0;
}

.HomePage {

    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1D222C;
    
    #heroSection {
    
        display: flex;
        flex-direction: column;
        width: 100vw;
/*         height: 75vh; */
        margin-bottom: 20px;
        align-items: center;
    
        .optionsHero {
    
            display: flex;
            height: 8vh;
            width: 100vw;
            margin-top: 1rem;
            background-color: blue;
            align-items: center;
            justify-content: space-around;
            flex-direction: row;
    
            span {
                
                object-fit: contain;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                display: block;
                text-transform: uppercase;
                font-weight: 400;
                color: $branco;
    
            }
    
            span:hover {
    
                color: $vinhoPink;
    
            }
    
        }
    
        .heroWrapper {
            
            width: 90vw;
            margin-top: 1rem;
            border-radius: 8px;

            .sliderImg {

                display: flex;
                width: 90vw;

                img {

                    width: 100%;
                    overflow: hidden;

                }

            }

        
        }
    
    }

    #featuredProdutcsSection {

        display: flex;
        flex-direction: column;
        width: 95vw;
        // height: 35vh;
        margin-bottom: 4rem;

        .featuredProductsText {

            display: flex;
            flex-direction: row;
            font-size: 1.1rem;
            color: $branco;
            margin-top: 1rem;

            .viewAll {

                display: flex;
                flex-direction: row;
                position: absolute;
                right: 20px;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                color: $branco;

                h4 {

                    margin-right: 5px;

                }
                
                img {

                    max-width: 30px;

                }

            }

        }

        .featuredProducts {

            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: center;

            .featuredProductsCard {

                display: flex;
                max-width: 30%;
                margin: 0 1rem;
                // height: 70%;
                background-color:#2B303A;
                align-items: center;
                text-align: center;
                border-radius: 10px;
                position: relative;
                margin-top: 2.5rem;
                padding: 1rem;

                .visualData {

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                    height: 100%;

                    .imgFeaturedWrapper {

                        display: flex;
                        width: 30%;
                        height: 60%;
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                        align-items: center;
                        justify-content: center;
    
                        img {
                            
                            max-width: 100%;
    
                        }
    
                    }
    
                    .featuredTag {
    
                        display:flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        background-color: $vinhoPink;
                        border-top-right-radius: 10px;
                        border-bottom-left-radius: 10px;
                        padding: 5px 10px;
                        margin-bottom: 10px;
    
                        h6 {
    
                            color: $branco;
                            text-transform: uppercase;
                            font-size: 12px;
                            padding: 0 5px;
    
                        }
    
                    }

                }

                .featuredTextWrapper {

                    display: flex;
                    flex-direction: column;
                    
                    h5 {

                        color: $branco;

                    }

                    span {

                        color: #666C75;
                        font-size: .9rem;
                        font-weight: 500;
                        margin-bottom: 20px;

                    }

                    p {

                        color: #c4c4c4;

                    }
                    
                }

            }

        }

    }

    #homeText {

        display: flex;
        width: 100vw;
        height: auto;
        background-color: #2B303A;
        padding: 5rem 2rem;
        align-items: center;
        margin-bottom: 3rem;

        .leftSideHomeText {

            display: flex;
            padding: 1rem 4rem 1rem 1rem;
            width: 40%;
            flex-direction: column;

            h1 {

                color: $offwhite;
                font-size: 2rem;

            }

            h1:nth-child(2) {

                color: $vinho;
                
            }

        }

        .rightSideHomeText {

            display: flex;
            width: 60%;
            flex-direction: column;

            p {

                color: $offwhite;
                padding: .7rem 0;

            }

        }   

    }

    .divModalCountry {

        width: 100vw;
        position: relative;
        background-color: $offwhite;

        span {

            width: 30px;
            height: 30px;
            padding: 8px;
            line-height: 15px;
            color: white;
            position: absolute;
            top: 20px;
            left: 67%;
            z-index: 3;
            cursor: pointer;
            border-radius: 50px;
            text-align: center;
            background-color: #2b303a;
            font-weight: 700;

        }

    }

    #optionSection {

        h4 {

            font-size: 1.1rem;
            color: $branco;
            margin-bottom: 1rem;

        }

    .optionsInfos {

        display: flex;
        width: 95vw;
        background-color: #2b2b2b;
        margin-bottom: 4rem;
        border-radius: 5px;
        justify-content: space-between;
        align-items: center;

        img {

            width: auto;
            height: auto;

        }

        .optionsSelection {

            display: flex;
            flex-wrap: wrap;
            height: 100%;
            align-items: center;
            justify-content: center;

            .cardsOptionsSelection {

                display: flex;
                height: 70px;
                width: 150px; //antes 150px;
                border-radius: 60px 0 60px 0;
                background-color:#333333;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;
                color: $branco;
                cursor: pointer;

                &:hover>h3 {

                    color: $vinhoPink;

                }

            }

        }

    }

}

#infosSection {

    display: flex;
    width: 95vw;
    margin-bottom: 2rem;

        .infosPromoWrapper {

            width: 50%;
            background-color: $deepVinho;
            border-radius: 5px;
            -webkit-box-shadow: 5px 5px 12px -4px rgba(0,0,0,0.59); 
            box-shadow: 5px 5px 12px -4px rgba(0,0,0,0.59);
            margin-left: 1rem;
            display: flex;
            flex-direction: column;
            align-items: space-around;
            justify-content: center;
            padding: 1rem 0;
            color: $offwhite;

            h2 {

                text-align: center;

            }

            .sliderWrapper {

                display: flex;
                width: 100%;
                height: 100%;
                align-items: center;
                justify-content: center;
                margin-top: 20px;

                .slider {

                    width: 100%;
                    margin: 0;
                    padding: 0;

                }

                .sliderContent {

                    display: flex !important;
                    align-items: center;
                    justify-content: space-around !important;

                    .textVinho {

                        display: flex;
                        width: 50%;
                        text-align: center;
                        flex-direction: column;
                        align-items: center;

                        h2 {

                            margin-bottom: 5px;
                            font-size: 16px;

                        }

                        span {

                            color: #cccccc;

                        }

                        p {

                            margin-top: 20px;

                        }
                        
                    }
    
                    .imageVinho {
    
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40%;
                        height: 80%;
    
                        img {
                            
                            max-width: 200px;
                            max-height: 300px;
            
                        }
                    }

                }

            }

        }

        .infosHighlightWrapper {

            width: 50%;
            background-color: #1D222C;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: space-between;
            padding: 0 1rem;

            .infosCard {
                
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                margin: 0 1rem;
                background-color: #2B303A;
                color: $offwhite;
                padding: 3rem 2.5rem;
                -webkit-box-shadow: 5px 5px 12px -4px rgba(0,0,0,0.59); 
                box-shadow: 5px 5px 12px -4px rgba(0,0,0,0.59);

                img {
                    height: 100px;
                }

                h3 {
                    font-size: 1.75rem;
                }

                p {
                    margin: 1rem 0 2rem;
                    font-size: 1.3rem;
                }

                h2 {
                    margin-bottom: 1rem;
                }
                
            }
        }

    }
}

@media screen and (max-width: 768px) {
    
    .HomePage {

        width: 100vw;
        overflow-x: hidden;

        #heroSection {

            .heroWrapper {
                width: 85vw;
                img {
                    width: 100%;
                }
            }

            .optionsHero {
                flex-direction: column;
                height: 60vh;
    
                span {
                    margin: .3rem 0 .3rem 0;
                    font-size: .975rem;
                }
            }
        } 
    
        #featuredProdutcsSection {

            flex-direction: column;
            height: auto;
            width: 100vw;

            .featuredProductsText {

                flex-direction: column;
                text-align: center;
                margin: 0 auto;
                padding: 0;
                width: 85vw;

                .viewAll {

                    position: static;
                    flex-direction: row;
                    justify-content: start;
                    text-decoration: none;
                    color: $branco;
                    margin-top: 1rem;

                }

                h4 {

                    font-size: .9rem;
                    text-align: left;

                }

            }

            .featuredProducts {

                height: auto;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .featuredProductsCard {

                    max-width: 85%;
                    margin: 1rem 0;

                    .imgFeaturedWrapper {

                        img {
                            
                            max-width: 40px;
    
                        }
    
                        #imgVinho {
    
                            width: 25px;
    
                        }
    
                    }

                    .featuredTextWrapper {

                        p {

                            font-size: 12px;
                            
                        }

                    }
                    
                }
            }
            
        }

        #homeText {

            display: flex;
            flex-direction: column;
            padding: 2rem 0;

            .leftSideHomeText {

                display: flex;
                flex-direction: column;
                width: 80%;
                margin: 0;
                padding: 0;
                margin-bottom: 2rem;

                h1 {
                    text-align: center;
                }


            }

            .rightSideHomeText {

                display: flex;
                flex-direction: column;
                width: 80%;

                p {
                    text-align: left;
                }
            }
        }

        .divModalCountry {

            span {

                left: 80%;

            }

        }

        #infosSection {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;

            .infosPromoWrapper {
                flex-direction: column;
                padding: 1rem;
                width: 80vw;
                height: 100%;
                margin: 2vh;
            }

            .infosHighlightWrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 80vw;
                padding: 0px;
                margin: 0px;

                .infosCard {
                    margin: 2vh;
                    width: 100%;
                }
            }
        }

        #optionSection {

            h4 {
                padding: 0 1rem;
                margin-bottom: 2rem;
            }

            .optionsInfos {

                width: 100vw;
                flex-direction: column;

                .optionsWrapper {

                    img {

                        width: 100vw;
                        height: auto;

                    }

                }

                .optionsSelection {

                    width: 100%;
                    align-items: center;
                    justify-content: space-around;

                    h3 {
                        font-size: 1rem;
                    }

                    .cardsOptionsSelection {
                        background-color: #424242;
                        margin: 10px 0;
                    }
        
                }
            }

        }

    }
    
}
