@import '../../../global.scss';

#mainRequest {

    display: flex;
    flex-direction: column;

}

.boxProductInfos {

    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}

.boxOrder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 25px;
    background-color: $vinho;
    border-radius: 15px;
    margin: 3em;
}

.leftSizeBoxOrder {

    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;

    .rowItens {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .requestStatus {

        display: flex;
        flex-direction: column;
        background-color: $deepVinho;
        padding: 1rem;
        width: auto;
        border-radius: 8px;
        align-items: center;

        select {

            width: 50%;
            padding: .5rem .2rem;

        }

        button {

            padding: 10px 20px;
            border-radius: 5px;
            border: none;
            background-color: $offwhite;
            text-align: center;
            margin: 10px;
            cursor: pointer;
            font-weight: 500;
            transition: .2s ease-in-out;

            &:hover {

                background-color: $vinho;
                color: $branco;

            }

        }

    }

}

.leftSizeBoxOrder p {
    padding: 10px;
    color: white;
    font-style: italic;
}

.leftSizeBoxOrder b {
    padding: 10px;
    color: white;
}

.rightSizeBoxOrder {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.flexDisplayRequestPage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    background-color: $deepVinho;
    border-radius: 5px;
    margin: .5rem 0;
    padding: 10px;
}

.flexDisplayRequestPage li {
    color: white;
    margin: 0.5vw;
}

.flexDisplayRequestPage img {
    width: 20px;
    cursor: pointer;
    background-color: $branco;
    border-radius: 3px;
}

.rightSizeBoxOrder p {
    padding: 10px;
    color: white;
    font-style: italic;
}

.rightSizeBoxOrder b {
    padding: 10px;
    color: white;
}

.clientMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clientMessage input {
    padding: 10px;
    width: 70%;
    border-radius: 5px;
    color: $vinho;
    background-color: $offwhite;
    border: none;
    outline: none;
}

.sendMessage {
    display: flex;
    flex-direction: column;
}

.sendMessage a {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: $offwhite;
    text-align: center;
    margin: 10px;
    width: 100%;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.sendMessage a:hover {
    background-color: $deepVinho;
    color: $branco;
}

.finalizarPedido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    width: 50%;

    a {

        cursor: pointer;

    }
}

.finalizarPedido h3 {
    margin: 10px;
}

.finalizarPedido select {
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $offwhite;
    color: $preto;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.finishButton {
    background-color: $deepVinho;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    color: $branco;
}

@media screen and (max-width: 768px) {
    
    .boxOrder {
        flex-direction: column;
        width: 90%;
    }
    
    .leftSizeBoxOrder {
        padding: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
    
        .rowItens {
            display: flex;
            flex-direction: row;

            b, p {

                font-size: .9rem;

            }
        }
    }
    
    .rightSizeBoxOrder {
        padding: 0px;
    }
    
    .flexDisplayRequestPage {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        list-style: none;
    }
    
    .flexDisplayRequestPage li {
        color: white;
        margin: 0.5vw;
    }
    
    .flexDisplayRequestPage img {
        width: 6vw;
        cursor: pointer;
        margin-left: .6rem;
    }
    
    .rightSizeBoxOrder p {
        font-size: .9rem;
    }
    
    .rightSizeBoxOrder b {
        font-size: .9rem;
    }
    
    .clientMessage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .clientMessage input {
        margin-bottom: 1rem;
    }
    
    .sendMessage {
        width: 100%;
    }
    
    .sendMessage a {
        padding: 10px;
        border-radius: 5px;
        border: none;
        background-color: $offwhite;
        text-align: center;
        margin: 10px 0;
        width: 100%;
        cursor: pointer;
    }
    
    .finalizarPedido {
        width: 90%;
    }
    
    .finalizarPedido h3 {
        margin: 10px;
    }
    
}