@import "../../../global.scss";

#Stock {

    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .stockControl {

        width: 100vw;
        margin-top: 8vh;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;

        div {

            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 50vw;
            height: 40vh;
            flex-direction: column;

            input, select {

                width: 25vw;
                height: 6vh;
                margin: .4rem 0;
                background-color: $deepVinho;
                outline: none;
                border: none;
                color: $branco;
                padding-left: .3rem;

                &::placeholder {

                    color: $branco;

                }

            }

            button {

                display:flex;
                cursor: pointer;
                color: $branco;
                padding: 1rem;
                margin: 0 0 2rem 0;
                background: $deepVinho;
                text-decoration: none;
                border-radius: .3rem;
                transition: .24s;
                border: 1px solid $deepVinho;
                justify-content:center;
                font-weight: 500;
                font-size: 1rem;
                margin-top: 1rem;
                    
                &:hover,
                &:focus {
    
                    box-shadow: inset 0 0 0 35px $offwhite;
                    color: $deepVinho;
    
                }
            }

            .stockProductsButtons {

                flex-direction: row;
                justify-content: center;
                height: auto;

                button {

                    margin: 1rem .5rem;

                }

            }

        }

    }

    #stockProducts {

        display: flex;
        width: 100vw;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .stockProductsDisplay {

            display: grid;
            grid-template-columns: auto auto auto auto auto;
            align-items: center;
            text-align: center;

            .stockItens {
    
                padding: 20px;
                color: white;
                margin: 10px 10px;
                border-radius: 10px;
                break-inside: avoid-column ;
                background-color: $vinho;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
    
            }

        }

    }

}

@media screen and (max-width: 768px) {

    #Stock {
        overflow-x: hidden;


        .stockControl {
            display: flex;
            flex-direction: column;
            width: 100%;

            .stockProductsSelect {

                width: 80vw;
                height: auto;

                select, input {
                    width: 80vw;
                    padding: 10px;
                }

            }

            .stockProductsSearch {
                width: 80vw;

                input {
                    width: 80vw;
                }

                button {
                    height: 4em;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        #stockProducts {

            .stockProductsDisplay {
                display: flex;
                flex-direction: column;
                width: 100%;

                .stockItens {
                    width:80vw;
                }
            }

        }
    }

}