@import "../../global.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.dataSection {

    width: 100vw;
    top: 6.5rem;
    justify-content: center;
    display: flex;

    .userData {

        display: flex;
        width: 80vw;
        position: relative;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 0;

        h3 {

            margin: 2rem 0;
            font-weight: 500;

        }

        a {

            text-decoration: none;
            color: #aa0f0f;

        }

        .cardData {

            display: flex;
            width: 80%;
            flex-direction: column;
            margin-top: 1rem;
            align-items: center;
            margin-bottom: 4rem;

            h4 {

                margin-bottom: 1rem;

            }

            #personalData {

                margin-top: 1rem;

            }

            .profileData {

                display: flex;
                flex-direction: column;
                background-color: $branco;
                width: 100%;
                height: 100%;
                border-radius: 10px;
                box-shadow: 0 1px 3px rgba(0,0,0,0.35);

                span {
                    
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 13px 18px;
                    line-height: 2rem;

                }

                span {

                    border-bottom: 1px solid #eee;

                }

                span:last-child {

                    border-bottom: none;

                }

            }

        }

        .deleteUser {

            display: flex;
            margin-bottom: 1rem;

            button {

                text-decoration: none;
                border: none;
                outline: none;
                font-weight: 500;
                padding: 5px 15px;
                border-radius: 5px;
                cursor: pointer;
                font-size: 1rem;
                background-color: $deepVinho;
                color: $branco;

            }

        }
    
    }

}

@media screen and (max-width: 768px) {

    .dataSection {

        width: 100vw;
        top: 0rem;
        justify-content: center;
        display: flex;
        flex-direction: column;

        .sideBar {
            width: 100%;
            height: 60vh;
        }
    
        .userData {
    
            display: flex;
            width: 100vw;
            position: relative;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin: 0;
            padding: 0;
    
            h3 {
    
                margin: 2rem 0;
                font-weight: 500;
                text-align: center;
                padding: 0 2rem;
    
            }
    
            a {
    
                text-decoration: none;
                color: #aa0f0f;
    
            }
    
            .cardData {
    
                display: flex;
                width: 90%;
                flex-direction: column;
                margin-top: 1rem;
                align-items: center;
                margin-bottom: 4rem;;
    
                h4 {
    
                    margin-bottom: 1rem;
    
                }
    
                #personalData {
    
                    margin-top: 1rem;
    
                }
    
                .profileData {
    
                    display: flex;
                    flex-direction: column;
                    background-color: $branco;
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    box-shadow: 0 1px 3px rgba(0,0,0,0.35);
                    font-size: .8rem;
    
                    span {
                        
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 13px 18px;
                        line-height: 2rem;
    
                    }
    
                    span {
    
                        border-bottom: 1px solid #eee;
    
                    }
    
                    span:last-child {
    
                        border-bottom: none;
    
                    }
    
                }
    
            }
        
        }
    
    }

}