@import "../../global.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.requestsSection {

    width: 100vw;
    top: 6.5rem;
    justify-content: center;
    display: flex;
    min-height: 100vh;

    .requestsData {

        display: flex;
        width: 80vw;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 0;

        h3 {

            margin: 2rem 0;
            font-weight: 500;

        }

        .boxRequestsList {

            width: 70vw;
            color: white;
            margin: .8rem 0;
            padding: 1rem 2.5rem;
            border-radius: 10px;
            background-color: #2B303A;
        
            display: flex;
            align-items: center;
            justify-content: space-between;

            .controlInfos {

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                span {

                    margin-top: 1rem;

                }

            }

            .requestItensWrapper {

                display: flex;
                flex-direction: column;

                .requestItens {

                    display: flex;

                    b {

                        margin-top: 1rem;

                    }
    
                }

                .selectedPaymentInfos {

                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    label {

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        outline: none;
                        background-color: $vinho;
                        border: none;
                        text-decoration: none;
                        font-size: 1rem;
                        color: $branco;
                        cursor: pointer;
                        padding: 0.5rem 2rem;
                        border-radius: 5px;
                        font-weight: 700;
                        margin-top: .5rem;

                    }

                    input {

                        display: none;

                    }

                    button {

                        outline: none;
                        border: none;
                        text-decoration: none;
                        color: $branco;
                        cursor: pointer;
                        background-color: transparent;
                        font-size: 1rem;
                        margin-top: .5rem;

                    }

                }

            }
           
        }

    }
    
}


@media screen and (max-width: 768px) {

    .requestsSection {

        width: 100vw;
        left: 20%;
        top: 6.5rem;
        justify-content: center;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    
        .requestsData {
    
            display: flex;
            width: 80vw;
            position: relative;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
            padding: 0;
    
            h3 {
    
                margin: 2rem 0;
                font-weight: 500;
    
            }
    
            .boxRequestsList {
    
                width: 70vw;
                color: white;
                margin: .8rem 0;
                padding: 1rem 2.5rem;
                border-radius: 10px;
                background-color: #2B303A;
            
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
    
                .requestItensWrapper {
    
                    display: flex;
                    flex-direction: column;
    
                    .requestItens {
    
                        display: flex;
                        margin: .5rem;
        
                    }
    
    
                }
    
               
    
            }
    
        }
        
    }
}