@import '../../global.scss';

header {

    height: 15vh;
    width: 100vw;
    background-color: $deepVinho;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;

}

.logo {

    width: 250px;
    padding-left: 50px;
    height: 100%;
    display: flex;
    align-items: center;

}

.logo img {

    margin-top: .4rem;
    width: 100%;
    height: 100%;
    cursor: pointer;

}

.menu {

    width: 50vw;
    display: flex;
    flex-direction: row;

}

.menu ul {

    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.menu li {

    list-style: none;
    color: #DBB826;
    padding: 5px;
    font-size: 14pt;
    cursor: pointer;

}

.menu a {

    text-decoration: none;
    color: $branco;
    padding-bottom: 21px;

}

.menu a:hover {

    opacity: 0.6;
    border-bottom: 5px solid $deepVinho;

}

.menu-mobile {

    display: none;

}

.sandwich {

    display: none;

}

.sandwich input {

    opacity: 0;

}

@media screen and (max-width: 768px) {

    .menu {
        display: none;
    }

    .logo {
        padding-left: 25px;
        
        img {
            margin-top: 0;
            height: 9.5vh;
        }
    }

    .sandwich {

        display: block;
        display: flex;
        align-items: center;
        padding-right: 20px;

    }

    .sandwich label {

        cursor: pointer;
        position: relative;
        display: block;
        height: 5px;
        width: 50px;

    }

    .sandwich span {

        position: absolute;
        height: 3px;
        width: 30px;
        background: $branco;
        transition: .5s ease-in-out;

    }

    .sandwich span:nth-child(1) {

        position: absolute;
        top: -8px;
        height: 3px;
        width: 30px;
        background: $branco;

    }

    .sandwich span:nth-child(3) {

        position: absolute;
        top: 8px;
        height: 3px;
        width: 30px;
        background: $branco;

    }

    #checkbox:checked + label span:nth-child(1) {

        transform: rotate(-225deg);
        top: 0px;

    }

    #checkbox:checked + label span:nth-child(2) {

        opacity: 0;

    }

    #checkbox:checked + label span:nth-child(3) {

        transform: rotate(225deg);
        top: 0px;

    }

    .menu-mobile {

        width: 100vw;
        display: none;
        align-items: center;
        justify-content: center;
        background-color: $deepVinho;

    }

    .menu-mobile ul {

        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: right;
        list-style: none;

        a {
            color: $branco;
            text-decoration: none;
            margin: 0 0 0.5em 0;
            text-align: center;
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 5px;
            padding: .5rem 1rem;
        }

    }

}