@import '../../../global.scss';

#ContentChangesMain {

    width: 100vw;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    a {
        display:flex;
        cursor: pointer;
        color: $branco;
        padding: 1rem;
        margin: 0 auto 1rem;
        background: $deepVinho;
        text-decoration: none;
        border-radius: .3rem;
        transition: .24s;
        border: 1px solid $deepVinho;
        justify-content:center;
        font-weight: 500;
        width: 35%;
        
        &:hover,
        &:focus {

            box-shadow: inset 0 0 0 35px $offwhite;
            color: $deepVinho;

        }
    }

    select {

        background-color: $vinho;
        color: $branco;
        width: 65%;
        margin-bottom: 1.5rem;
        outline: none;
        height: 3rem;
        font-size: 14px;
        padding-left: 1rem;
        border: none;  

        &.alterCountryCard {
            margin-bottom: 0;
        }

    }

    legend {
        margin: .75rem 0;
    }

    input::placeholder {

        color: $branco;

    }

    input {

        background-color: $vinho;
        color: $branco;
        width: 70%;
        margin-bottom: 1.5rem;
        outline: none;
        height: 3rem;
        font-size: 14px;
        padding-left: 1rem;
        border: none;

    }

    input[type="file"] {

        padding-top: .8rem;

    }
}

#ChangesSection {

    width: 53%;
    align-items: center;
    padding: 1rem 0;
    justify-content: center;
    display: flex;
    flex-direction: column;

    h2 {
        margin-bottom: 1rem;
    }
}

#OptionsSection {

    #HomeChanges, #AboutChanges {
        padding: 1rem 0;
        border-radius: .3rem;
        border: 2px solid $deepVinho;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    
}

@media screen and (max-width: 768px) {
    #ContentChangesMain {

        width: 100vw;
        padding: 2rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    
        a {
            display:flex;
            cursor: pointer;
            color: $branco;
            padding: 1rem;
            margin: 0 auto 1rem;
            background: $deepVinho;
            text-decoration: none;
            border-radius: .3rem;
            transition: .24s;
            border: 1px solid $deepVinho;
            justify-content:center;
            font-weight: 500;
            width: 35%;
            
            &:hover,
            &:focus {
    
                box-shadow: inset 0 0 0 35px $offwhite;
                color: $deepVinho;
    
            }
        }
    
        select {
    
            background-color: $vinho;
            color: $branco;
            width: 65%;
            margin-bottom: 1.5rem;
            outline: none;
            height: 3rem;
            font-size: 14px;
            padding-left: 1rem;
            border: none;  
    
            &.alterCountryCard {
                margin-bottom: 0;
            }
    
        }
    
        legend {
            margin: .75rem 0;
        }
    
        input::placeholder {
    
            color: $branco;
    
        }
    
        input {
    
            background-color: $vinho;
            color: $branco;
            width: 70%;
            margin-bottom: 1.5rem;
            outline: none;
            height: 3rem;
            font-size: 14px;
            padding-left: 1rem;
            border: none;
    
        }
    
        input[type="file"] {
    
            padding-top: .8rem;
    
        }
    }
    
    #ChangesSection {
    
        width: 100%;
        align-items: center;
        padding: 1rem 0;
        justify-content: center;
        display: flex;
        flex-direction: column;
    
        h2 {
            margin-bottom: 1rem;
        }
    }
    
    #OptionsSection {
    
        #HomeChanges, #AboutChanges {
            padding: 1rem 0;
            border-radius: .3rem;
            border: 2px solid $deepVinho;
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;

            .addBanner, .updateBanner, .deleteBanner,
            .updateHeroVideo, .updateIntroText, .addCardWine,
            .deleteDescription {
                display: flex;
                justify-content: center;
                align-items: center;

                a {
                    width: 100%;
                }
            }
        }
        
    }
}
