@import '../../global.scss';


footer {

    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
    color: var(--branco);
    background-color: $deepVinho;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;

}

.copyright {

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;

}

.copyright p {

    font-size: 1em;

}

.copyright img {

    height: 50px;
    margin-top: 15px;

}

.footerContacts {

    display: flex;
    align-items: center;
    justify-content: center;    
    flex-direction: column;
    width: 100%;
    max-height: 40vh;
    margin-top: 15px;
    margin-bottom: 15px;

    img {

        height: 9.75vh;
        margin-bottom: 15px;
    
    }

    ul {

        display: flex;
        flex-direction: row;
        align-items: space-between;
        justify-content: center;
        width: 100%;
        list-style: none;
    
        
    }

    p {
        margin-top: 20px;
    }

    li a {

        cursor: pointer;
        text-decoration: none;
        color: $branco;
        margin: 0 15px;
    
    }
}

.socialMedias {

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: .75rem;

    img {

        height: 5vh;
        margin-right: 10px;
        margin-left: 10px;
    
    }

    a {

        cursor: pointer;
    
    }

}

@media screen and (max-width: 768px) {

    footer {

        flex-direction: column;
        padding-bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .copyright {

        width: 90vw;
        margin: 0px;
        height: auto;
        margin-top: 15px;
        margin-bottom: 20px;
        align-items: center;
        justify-content: center;
        font-size: .8rem;
        //border-top: 1px solid white;
        display: flex;

        img {

            height: 6vh;
    
        }

    }

    .footerContacts {

        width: 90vw;
        height: auto;
        text-align: justify;
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* max-height: none; */

        ul {

            display: flex;
            flex-wrap: wrap;
            width: 90vw;
            justify-content: center;
            padding: 0;
            margin: 0;
    
        }

        li {

            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 9.5pt;
            margin: 10px 0;
    
        }

        p {

            font-size: 9.5pt;
    
        }

    }

    .socialMedias {

        width: 100vw;
        height: 6vh;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
        margin-top: 1rem;

        img {
            height: 5vh;
        }

    }

}