@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

$vinho: #A71C2B;
$deepVinho: #53051A;
$vinhoPink: rgb(202, 28, 65);
$branco: #ffffff;
$offwhite: #F2F2F2;
$cinza: #596264;
$preto: #000000;

:root {

    width: 100%;
    overflow-x: hidden;

}